<div class="_wf-layout-footer">
  <div class="_wf-layout-footer-wrapper">
     <div class="_wf-layout-footer-links">
        <a href="{{ "/privacy-policy" | absURL }}" class="link-2">Privacy Policy</a>
        <a href="{{ "/contact" | absURL }}" class="link-2">Contact</a>
        <a href="{{ "/about-us" | absURL }}" class="link-2">About Us</a>
     </div>
     <br>
     <div class="_wf-layout-quality">
      <p class="paragraph-6 footer" style="color:#fff;">© 2024 elfmedia.net</p>
   </div>
  </div>
</div>