<div class="buttonwrapper flex-test">
    <a href="{{ .Get "link" }}" class="link-block cta-td-none w-inline-block">
      <div class="text-block-2"><strong>Zusätzlicher Verdienst</strong></div><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/2c77b574-7e57-4c90-5cec-3cafda1ea500/squares" loading="lazy" width="150" alt="" class="cta-img-custom-size">
    </a>
    <a href="{{ .Get "link" }}" class="link-block cta-td-none w-inline-block">
      <div class="text-block-2"><strong>Unabhängigkeit</strong></div><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/5983af7a-9758-4f7e-86a5-fe1a3d1dba00/squares" loading="lazy" width="150" alt="" class="image-22 cta-img-custom-size">
    </a>
    <a href="{{ .Get "link" }}" class="link-block cta-td-none w-inline-block">
      <div class="text-block-2"><strong>Strom sparen</strong></div><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/11decc7d-cb5c-435b-208e-842b8b39fb00/squares" loading="lazy" width="150" alt="" class="cta-img-custom-size">
    </a>
</div>