<div class="par-v4-cta-box">
    <p class="par-v4-cta-box-head">Bitte wählen Sie jetzt Ihr Bundesland:</p>
    <div class="par-v4-cta-box-items">
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/1c5b475d-4f66-449e-25b7-e57adce52600/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Baden-Württemberg</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/5e64da22-0e5e-46f0-6a54-2bbd98d2ac00/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Bayern</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/ff5ba827-f724-470a-3b5d-ef791173d600/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Berlin</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/2ba74d24-bd71-4089-f450-9d1e7d764100/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Brandenburg</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/5547fb02-195c-418a-2bd5-458ca155fc00/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Bremen</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/7cd4698e-e650-459e-ddc9-5e9d5ebaf100/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Hamburg</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/8fe4c53e-530d-441d-b223-e201f2a9c700/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Hessen</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/1cc06f65-46fa-48ba-d955-4f94a7d17200/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Mecklenburg-Vorpommern</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/e89cf0f8-150a-4a3a-bab4-daaa98ee8100/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Niedersachsen</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/a1aeea5b-cd81-4b54-82ff-350583572000/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Nordrhein-Westfalen</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/fd78db79-f03b-4d91-efa7-c63ed1159000/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Rheinland-Pfalz</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/80df1c94-57fe-40c6-25f6-2a3a923d0e00/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Saarland</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/bb1219bf-3686-4b92-520c-2ae1bee48300/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Sachsen-Anhalt</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/cc175488-287d-4bd7-990b-cd89e1399a00/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Sachsen</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/bdbe17d9-d168-428b-21af-82ee10a7da00/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Schleswig-Holstein</p>
      </a>
      <a href="{{ .Get "link" }}" class="par-v4-cta-box-item w-inline-block"><img id="trackclick" src="https://imagedelivery.net/ARaXQ-_BUK-z-dKds3F61Q/21eea21d-e99a-466b-3f6d-ff2784aef000/states" loading="lazy" alt="" class="par-v4-cta-box-item-wappen">
        <p class="par-v4-cta-box-item-state-name">Thüringen</p>
      </a>
    </div>
  </div>